<section class="auth">
  <h2>Sign In or Sign Up</h2>

  <!-- Buttons to toggle between Sign In and Sign Up -->
  <div>
    <button (click)="showLogIn = true; showSignUp = false">Log In</button>
    <button (click)="showLogIn = false; showSignUp = true">Sign Up</button>
  </div>

  <!-- Login Form -->
  <div *ngIf="showLogIn">
    <form [formGroup]="loginForm" (ngSubmit)="logIn()">
      <div>
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" required />
      </div>
      <div>
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          required
        />
      </div>
      <button type="submit">Log In</button>
    </form>
  </div>

  <!-- Sign Up Form -->
  <div *ngIf="showSignUp">
    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
      <div>
        <label for="signupEmail">Email</label>
        <input type="email" id="signupEmail" formControlName="email" required />
      </div>
      <div>
        <label for="signupPassword">Password</label>
        <input
          type="password"
          id="signupPassword"
          formControlName="password"
          required
        />
      </div>
      <div>
        <label for="signupName">Name</label>
        <input type="name" id="signupName" formControlName="name" required />
      </div>
      <!-- Add more form controls for sign-up as needed -->
      <button type="submit">Sign Up</button>
    </form>
  </div>
</section>
