<div class="user-profile">
  <div class="user-profile-ps">
    <span>
      <mat-icon>person</mat-icon>
      <strong> {{ user?.name }} </strong>
    </span>
  </div>
  <div class="right-content">
    <span>
      <mat-icon
        (click)="openProfileSettings()"
        matTooltip="Settings"
        aria-label="settings"
        >settings</mat-icon
      >
      <mat-icon
        (click)="openConfirmDialog()"
        matTooltip="Logout"
        aria-label="Logout"
        >exit_to_app</mat-icon
      >
    </span>
  </div>
</div>
