<div class="log-in">
  <h2>Log In</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div>
      <label for="loginEmail">Email</label>
      <input type="email" id="loginEmail" formControlName="email" required />
    </div>
    <div>
      <label for="loginPassword">Password</label>
      <input
        type="password"
        id="loginPassword"
        formControlName="password"
        required
      />
    </div>
    <button type="submit">Log In</button>
    <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
  </form>
</div>
