<!-- create-product-dialog.component.html -->

<form
  [formGroup]="createProductForm"
  (ngSubmit)="onSubmit()"
  class="create-product-form"
>
  <h2>Create Product</h2>

  <div class="form-group">
    <label for="description">Product Name:</label>
    <input type="text" id="description" formControlName="description" />
  </div>

  <div class="form-group">
    <label for="price">Price:</label>
    <input type="number" id="price" formControlName="price" />
  </div>

  <div class="buttons">
    <button type="submit" [disabled]="!createProductForm.valid">
      Create Product
    </button>
    <!-- <button type="button" (click)="dialogRef.close()">Cancel</button> -->
  </div>
</form>
