/* Apply flexbox to the .home-page container */
.home-page {
  height: 100%;
}
.home-page-header {
  border-bottom: 3px solid black;
  width: 100%;
  height: 7rem;
  display: flex;
}
.landing-page-header {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  margin-left: 7rem;
}

/* Keep the existing styles for .link-list-section */
.link-list-section {
  display: flex;
  flex-direction: column; /* Change to a column layout */
  justify-content: space-between;
  border-top: 3px solid black; /* Retain the border */
  border-bottom: 3px solid black;
  border-left: 3px solid black;
}
.list-section {
  flex-grow: 1;
  overflow-y: auto;
}

/* Style the navigation menu */
.link-list-section .nav-menu {
  list-style: none;
  margin: 10px 0; /* Add 10px margin top and bottom */
  padding: 0;
  display: flex;
  flex-direction: column; /* Display the links in a column */
}

.link-list-section .nav-menu li {
  margin-bottom: 10px; /* Add 5px spacing between menu items */
  margin-left: 20px;
}

/* Style the links */
.link-list-section .nav-menu a {
  text-decoration: none;
  color: #333; /* Adjust the link color as needed */
  font-family: Arial, sans-serif; /* Set the font family to Arial */
  font-size: 20px; /* Set the font size to 20px */
  font-weight: bold; /* Adjust the font-weight as needed */
}
.active {
  color: blue; /* Change the color to gray for active links */
  font-weight: bold; /* You can add additional styles as needed */
}

/* Style the user profile component */
.link-list-section .user-profile {
  /* Add any specific styles you want for the user profile component */
}
