<div class="home-page app-style link-list-section">
  <div class="home-page-header">
    <img src="./assets/images/hoa.png" alt="" style="height: 6rem" />
    <div class="landing-page-header">
      <h1 class="lp-title">Welcome to HOA Hub</h1>
      <p class="lp-subtitle">Your trusted community hub</p>
    </div>
  </div>
  <div class="list-section">
    <ul class="nav-menu">
      <li>
        <a [routerLink]="['/home/dashboard']" routerLinkActive="active">
          <mat-icon>dashboard</mat-icon> Dashboard
        </a>
      </li>
      <li>
        <a [routerLink]="['/home/tickets']" routerLinkActive="active">
          <mat-icon>receipt</mat-icon> Tickets
        </a>
      </li>
      <li>
        <a [routerLink]="['/tickets']" routerLinkActive="active">
          <mat-icon>event</mat-icon> Events
        </a>
      </li>
      <li>
        <a [routerLink]="['/home/bills']" routerLinkActive="active">
          <mat-icon>monetization_on</mat-icon> Bills
        </a>
      </li>
      <li>
        <a [routerLink]="['/home/market']" routerLinkActive="active">
          <mat-icon>store</mat-icon> Community Market
        </a>
      </li>
    </ul>
  </div>
  <div>
    <!-- User Profile Component -->
    <app-user class="user-profile"></app-user>
  </div>
</div>
