<div class="ticket-page app-style link-list-section">
  <button
    mat-raised-button
    color="primary"
    class="create-ticket-button"
    (click)="openTicketCreationDialog()"
  >
    Create Ticket
  </button>

  <div class="card-container">
    <!-- List of Tickets -->
    <div *ngFor="let ticket of tickets" class="ticket">
      <mat-card class="custom-card">
        <p>{{ ticket.status }}</p>

        <div class="ticket-details">
          <h2>{{ ticket.description }}</h2>
          <p class="category">{{ ticket.category }}</p>
        </div>
      </mat-card>
    </div>
  </div>
</div>
