<div class="ticket-page app-style link-list-section">
  <button
    mat-raised-button
    color="primary"
    class="create-ticket-button"
    (click)="openTicketCreationDialog()"
    style="background-color: #c3b494; color: black"
  >
    Create Ticket
  </button>

  <div class="card-container">
    <!-- List of Tickets -->
    <div *ngFor="let ticket of tickets" class="ticket">
      <mat-card class="custom-card">
        <p class="date-created">
          Date Created: {{ ticket.createdAt | date : "MM/dd/yyyy" }}
        </p>
        <p *ngIf="!ticket.editing">{{ ticket.status }}</p>
        <p class="ticket-creator">
          {{ ticket.ho.houseCode }}
        </p>
        <!-- Centered creator's name -->

        <select
          style="width: 80px"
          *ngIf="ticket.editing"
          [(ngModel)]="ticket.status"
          class="status-select custom-card"
        >
          <option value="PENDING">Pending</option>
          <option value="RESOLVED">Resolved</option>
        </select>
        <!-- Resolution input field -->
        <textarea
          *ngIf="ticket.editing && ticket.status === 'RESOLVED'"
          [(ngModel)]="ticket.resolution"
          class="app-style"
          placeholder="Enter resolution"
        ></textarea>
        <!-- Error message for missing resolution when saving -->
        <div
          *ngIf="ticket.status === 'RESOLVED' && !ticket.resolution"
          class="error-message"
        >
          Resolution is required before saving.
        </div>
        <div class="ticket-details">
          <h2 *ngIf="!ticket.editing" class="ticket-description">
            {{ ticket.description }}
          </h2>
          <h3
            *ngIf="!ticket.editing && ticket.status === 'RESOLVED'"
            class="resolution"
          >
            Resolution: {{ ticket.resolution }}
          </h3>
          <textarea
            *ngIf="ticket.editing"
            [(ngModel)]="ticket.description"
            class="app-style"
          ></textarea>
          <button
            (click)="toggleEditMode(ticket)"
            class="edit-button"
            *ngIf="
              ticket.editing ||
              (ticket.status !== 'RESOLVED' && !ticket.resolution)
            "
          >
            {{ ticket.editing ? "Save" : "Edit" }}
          </button>
          <p *ngIf="!ticket.editing" class="category">{{ ticket.category }}</p>
          <select
            style="width: 120px"
            *ngIf="ticket.editing"
            [(ngModel)]="ticket.category"
            class="status-select custom-card category"
          >
            <option value="COMPLAINT">COMPLAINT</option>
            <option value="MAINTENANCE">MAINTENANCE</option>
          </select>
        </div>
      </mat-card>
    </div>
  </div>
</div>
